.pensions:hover {
	cursor: pointer;
	background-color: #A8A8A8;
}

.green {
	background-color: #7fff7f;
	border: solid 1px #4cff4c;
	color: #003300;
}

.animate-show-hide.ng-hide {
  opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
  transition: all linear 2.0s;
}

.check-element {
  border: 1px solid black;
  opacity: 1;
  padding: 10px;
}

table.scroll {
    /* border-collapse: collapse; */
    border-spacing: 0;
}

table.scroll tbody,
table.scroll thead { display: block; }

thead tr th { 
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

table.scroll tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody {  }

tbody td, thead th {
    width: 20%; /* Optional */
}

tbody td:last-child, thead th:last-child {
    border-right: none;
}
