<div class="container">
  <div class="row">
    <div class="container">
      <h2>Document Information</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 column">
      <h3 class="form-control"><b>Hash:</b> {{document.hash}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 column">
      <h3 class="form-control"><b>Path:</b> {{document.path}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 column">
      <h3 class="form-control"><b>Location:</b> {{ document.location}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 column">
      <h3 class="form-control"><b>Source:</b> {{document.source}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 column">
      <h3 class="form-control"><b>Timestamp:</b> {{document.timestamp}}</h3>
    </div>
    <div class="col-md-2 column">
      <button ng-click="goBack()" class="btn btn-default" style="margin-top: 20px;">Back to Transactions</button>
    </div>
  </div>
  <p class="alert alert-info" ng-model="loading" ng-show="loading">Loading Document...</p>
  <p class="alert alert-success" ng-model="loadSuccess" ng-show="loadSuccess && !loading">Document loaded</p>
  <p class="alert alert-success" ng-model="loadFailed" ng-show="loadFailed && !loading">Failed to load pensions</p>
  <hr />
  <div class="row" style="text-align: center;">
    <embed src="{{document.path}}" width="800px" height="1200px" />
  </div>
</div>
