<div class="container">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-left">
            <button ng-click="goBack()" class="btn btn-default" style="margin-top: 20px; margin-right: 20px;">Back to All Pensions</button>
          </div>
          <h2>Pension Information</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 column">
      <h3 class="form-control"><b>Account:</b> {{pension.header.acct}}</h3>
    </div>
    <div class="col-md-4 column">
      <h3 class="form-control"><b>Last Date Updated:</b> {{pension.header.lastint}}</h3>
    </div>
    <div class="col-md-4 column">
      <h3 class="form-control"><b>Phone:</b> {{pension.header.phone}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 column">
      <h3 class="form-control"><b>Last Name:</b> {{pension.header.lastname}}</h3>
    </div>
    <div class="col-md-4 column">
      <h3 class="form-control"><b>First Name:</b> {{pension.header.firstname}}</h3>
    </div>
    <div class="col-md-3 column">
      <h3 class="form-control" ng-model="ssnValue">
        <b>SSN:</b> {{ssnValue}}
      </h3>
    </div>
    <div class="col-md-1 column">
      <button class="btn btn-default btn-group-xs" style="margin-top: 20px;" ng-click="hideShow()">{{showSSN}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 column">
      <h3 class="form-control"><b>ID:</b> {{pension.header.id}}</h3>
    </div>
    <div class="col-md-4 column">
      <div class="pull-right">
        <h3><b>Pension Total:</b> {{pension.pension.value}}</h3>
      </div>
    </div>
  </div>
  <hr />
  <div class="row clearfix">
    <div class="col-md-6 column">
      <div ng-if="$parent.isCompany">
        <div class="alert alert-success" ng-show="pension.header.active">
          Active: This pension chain is active
        </div>
        <div class="alert alert-danger" ng-show="!pension.header.active">
          Inactive: This pension chain was merged into another and can not longer be used
        </div>
      </div>
      <div ng-if="!$parent.isCompany">
        <div class="alert alert-success" ng-show="pension.header.active">
          Income: This is an income pension account
        </div>
        <div class="alert alert-success" ng-show="!pension.header.active">
          Savings: This is a savings pension account
        </div>
      </div>
    </div>
    <div class="col-md-5 column">
      <form role="form">
        <div class="form-group">
         <input type="text" class="form-control" placeholder="Search..."/>
       </div>
     </form>
   </div>
   <div class="col-md-1 column">
    <form role="form">
      <div class="form-group">
        <button class="btn btn-default form-group">Search</button>
      </div>
    </form>
  </div>
</div>
<p class="alert alert-info" ng-model="loading" ng-show="loading">Loading Pension...</p>
<p class="alert alert-success" ng-model="loadSuccess" ng-show="loadSuccess && !loading">Pension loaded</p>
<p class="alert alert-success" ng-model="loadFailed" ng-show="loadFailed && !loading">Failed to load pensions</p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Hash</th>
      <th>Transaction Type</th>
      <th>Value Change</th>
      <th>Doc Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="d in pension.pension.transactions" class="pensions" ng-click="goToTransaction(d.txid)">
      <td>{{ d.timestamp }}</td>
      <td>{{ d.txid }}</td>
      <td>{{ d.usertype }}</td>
      <td>{{ d.valchange }}</td>
      <td>{{ d.docs.length }}</td>
    </tr>
  </table>
</ul>

<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<!--!!!!!!!!!!CHARTS SECTION!!!!!!!!!!!! -->
<!--!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->
<canvas id="myChart" width="400" height="150"></canvas>
</div>