<div class="container">
	<h1>PUT COMPANY STATS HERE</h1>
	<hr/>
	<h2>Pensions</h2>
	<p>These are all the current pensions in the log for person</p>
	<div class="row">
		<div class="container">
			<p class="alert alert-info" ng-model="loading" ng-show="loading">Loading Pensions...</p>
			<p class="alert alert-success" ng-model="loadSuccess" ng-show="loadSuccess && !loading">Pensions loaded</p>
			<p class="alert alert-success" ng-model="loadFailed" ng-show="loadFailed && !loading">Failed to load pensions</p>
		</div>
	</div>
	<div class="row">
		<div class="container">
			<button class="btn btn-default form-group pull-right" ng-click="requestAll()">Refresh</button>
		</div>
	</div>
<div class="row">
	<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Account Number</th>
				<th>Last Transaction</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="a in accounts" class="pensions" ng-click="goToPension(a.id)">
				<td>{{ a.firstname }}</td>
				<td>{{ a.lastname }}</td>
				<td>{{ a.acct }}</td>
				<td>{{ a.lastint }}</td>
			</tr>
		</table>
		</div>
		</div>
	</div>
