<div class="container">
  <h1>PUT COMPANY STATS HERE</h1>
  <hr/>
  <h2>Pensions</h2>
  <p>These are all the current pensions in the log for person</p>
  <h3 class="alert alert-info" ng-model="loading" ng-if="loading">Loading Pensions...</h3>  
  <h3 class="alert alert-info" ng-model="loading" style="transition: 1s linear all;  
  opacity: 1;" ng-if="loading">Load Success!</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Account Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>account #</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>account #</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>address</td>
      </tr>
    </tbody>
  </table>
</div>